<%- include('../includes/head.ejs') %>

<h1 class="title">Registrarte</h1>
<form action="/motos/add" method="POST">
    <label for="descripcion">Nombre de la Moto</label>
    <input id="nombre" name="nombre" class="input" type="text" placeholder="DUCATI">
    <br><br>
    <label for="descripcion">Descripcion</label>
    <textarea id="descripcion" name="descripcion" class="textarea" placeholder="Moto Italiana, elegante y duradera"></textarea>
    <br>
    <input id="registrar" name="registrar" type="submit" value="Registrar" class="button is-info">
</form>

<%- include('../includes/foot.ejs') %>
